$mainColor: #451275;
$width: 400px;
$margino: 30px;

.logine {
  margin-top: $margino;
  max-width: $width;
  align-content: center;
}
.bad {
  margin-bottom: $margino;
  font-size: 20px;
  margin-left: auto 0;
  color: $mainColor;
  font-weight: bolder;
}
.btn-primary:disabled {
  background-color: purple;
  border: white solid 1px;
  color: white;
}

a {
  margin-left: $margino;
  color: $mainColor;
}
a:hover {
  margin-left: $margino;
  color: purple;
}
